[user]
	name = Ryan Leckey
	email = ryan@launchbadge.com

[ghq]
	root = ~/Workspace

[include]
	path = ~/.dotfiles/pkg/gitalias/gitalias.txt

[mergetool]
	keepBackup = false

[credential]
	helper = osxkeychain

[core]
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX

[url "git@bitbucket.launchbadge.com:"]
	insteadOf = "https://bitbucket.launchbadge.com/scm/"

[alias]
	ucm = !git au && git cm
	acm = !git aa && git cm
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
