[submodule "enhancd"]
	path = pkg/enhancd
	url = https://github.com/b4b4r07/enhancd
[submodule "dotbot-brew"]
	path = pkg/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "zsh-autosuggestions"]
	path = pkg/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "gitalias"]
	path = pkg/gitalias
	url = https://github.com/GitAlias/gitalias
[submodule "zsh-history-substring-search"]
	path = pkg/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "alias-tips"]
	path = pkg/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "pkg/dotbot"]
	path = pkg/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "calc.plugin.zsh"]
	path = pkg/calc.plugin.zsh
	url = https://github.com/arzzen/calc.plugin.zsh
[submodule "careful_rm"]
	path = pkg/careful_rm
	url = https://github.com/MikeDacre/careful_rm
[submodule "fast-syntax-highlighting"]
	path = pkg/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "pkg/pure"]
	path = pkg/pure
	url = https://github.com/sindresorhus/pure
